.nushan{
    margin-left: 100px;
    position: absolute;
}

.img-log71{
    justify-content: center;
    align-items: center;
    margin: 10px; 
    background-color: #f4abab;
    border-radius: 20px;
    box-shadow: #000000;
}